<footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div class="logo">
                <a class="brand" href="index.html"><img src="/assets/img/alon-in-the-world-blue-baba-font.png" alt="" style="width: 177px;" /></a>
              </div>
              <p>
                &copy; Alon Rotem, 2023 - All right reserved
              </p>
              <div class="credits">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>