---
title: 3 More Lecture Recordings
tags:
    - .NET
    - Academy
    - C#
    - Lecturing
    - Telerik
redirect_from: /2011/11/3-more-lecture-recordings.html
image: /assets/img/blog/telerik-academy.jpg
hidden: false
subtitle: 3 More screen recordings of my lectures in the Telerik Academy from November 2011
---
<p>
3 More screen recordings of lectures. These were recorded in the <a href="https://www.telerikacademy.com/" target="_blank">Telerik Academy</a> between 14th - 21st of November 2011.
</p>
<p>
My fearless .NET ninja students get things quite quickly, but nevertheless I always do my best to get the messages through, debug and demonstrate so that every bit of information presented is clear.
A demo of the <em>TeleTris</em> console game, which I wrote about in the <a href="/blog/2011/11/23/teletris-console-demo-project.html">previous post</a>, is included in the recording about conditional statements (it's a short lesson anyway).
</p>

<h2>Operators and Expressions</h2>
<p>
This lecture covers the basic built in unary, binary and ternary normal and bitwise operators for various manipulation of data. Lots of debugging and inspection of the data is included.
</p>
{% include blog/embed-youtube.html code="1gGfaJ3ZDg0" %}

<h2>Console Input and Output</h2>
<p>
Reading and writing on the console.  Learning how the console window behaves and how to format the data, including a review of the demo JustSnake console game and getting to know Nyan cat!
</p>
{% include blog/embed-youtube.html code="PVhI8GSooHs" %}


<h2>Conditional statements</h2>
<p>
A rather short lesson about boolean conditions, code flow and switch-case blocks. Also includes a demo of the TeleTris console game.
</p>
<img src="/assets/img/blog/video-depracated.png" class="nolightbox" style="margin:0;" />