---
title: "Setting Up Subversion Source-Control with Assembla and TortoiseSVN"
tags:
    - Reasonably moderate
    - Source control
redirect_from: /2012/04/setting-up-subversion-source-control.html
image: /assets/img/blog/source-control.jpg
hidden: false
subtitle: A full cycle
---
<h2>Why Source-Control?</h2>
<p>    
    When working on sufficiently-large projects, it's good to be able to keep track of changes with a source-control system (sometimes referred to as "revision control system" or "version-control system" or VCS. Personally I prefer the old term "source-control"). The advantages of using such a system:
</p>
<ul>
    
        <li>Keeping track of changes:<br/>
        Know who made the changes and when.<br/>
        Record changes with appropriate comments ("<em>..hmmm.. why did I make this change..?</em>").</li>
        <li>Reverting and obtaining previous versions.</li>
        <li>Managing versions and labels of your code in various history points.</li>
        <li>Potentially sharing the project with other developers ,working together making tracked changes.</li>
        <li>Some source-control systems allow tracking bugs and tasks, while associating them to changes made in files.</li>
    
</ul>
<p>
    Many enterprises use commercial source-control systems. Since the majority of my enterprise projects have been on Microsoft environments, in the early days I was using <a href="https://learn.microsoft.com/en-us/previous-versions/3h0544kx(v=vs.80)?redirectedfrom=MSDN" target="_blank">Visual Source Safe (VSS)</a>, in later years it's been <a href="http://msdn.microsoft.com/en-us/vstudio/ff637362" target="_blank">Team Foundation Server (TFS)</a>. Both consist of a source server and client applications which integrate with the Windows domain users and with Visual Studio IDE.
</p>
<p>
    On home projects I prefer to use a more modest source control system, preferably one which I can store online for backups and doesn't require a server running all the time.
</p>
<p>
    {% include blog/slider.html percents=50 info="Reasonably moderate" %}
</p>

<p>
<h2 id="toc">Table of Contents</h2>
<p>
    Since this is quite an extensive post, I decided to include a table of contents.
</p>
<ul>
    <li><a href="#particles">Particles of a Source-Control System</a></li>
    <li><a href="#download">Download List</a></li>
    <li><a href="#foss">VCS for Cheap Bastards: Free Open-Source Solutions</a>
        <ul>
            <li><a href="#subver">My choice: Subversion</a></li>
        </ul>
    </li>
    <li><a href="#cloudstore">The Sky is not the Limit: Store It in the Cloud</a>
    <ul>
        <li><a href="#cloudwhere">Where?</a></li>
        <li><a href="#cloudchoice">My choice: Assembla</a></li>
    </ul>
    </li>
    <li><a href="#breakdown">Breakdown of the Procedure</a></li>
    <li><a href="#createlocally">Getting Started: Create the Repository Locally</a>
        <ul>
            <li><a href="#installpreliminary">Install preliminary tools</a></li>
            <li><a href="#createrepofolder">Create a separate repository folder (server)</a></li>
            <li><a href="#moveyourcode">Move your code to the repository</a></li>
            <li><a href="#createclientfolder">Create a working folder (client)</a></li>
            <li><a href="#ignorebins">Don't keep unnecessary binaries in your repository!</a></li>
        </ul>
    </li>
    <li><a href="#assemblagettingstarted">Moving It to the Cloud: Getting Started with Assembla</a>
        <ul>
            <li><a href="#dump">Create a dump of your local repository</a></li>
            <li><a href="#hosting">Set up your SVN hosting space</a></li>
            <li><a href="#workingfoler">Create a working folder (client)</a></li>
        </ul>
    </li>
    <li><a href="#improvedux">Improved User Experience</a>
        <ul>
            <li><a href="#noteversion">Important note: Know the version of your repository!</a></li>
            <li><a href="#syncrosvn">Commercial tool: Syncro SVN Client</a></li>
            <li><a href="#vercue">Free tool with a paid option: Vercue</a></li>
        </ul>
    </li>
    <li><a href="#useinvs">Use Your Repository Like a Boss: Take It into Visual Studio!</a>
        <ul>
            <li><a href="#ankhsvn">My choice: AnkhSVN</a></li>
            <li><a href="#withtfs">Working side-by-side with TFS: Set your solution's source control</a></li>
            <li><a href="#behindthescenes">Behind the scenes</a></li>
        </ul>
    </li>
</ul>
</p>
<h2 id="particles">Particles of a Source-Control System</h2>
<p>
    Usually on a source-control system the project's code resides in a database on central server (commonly referred to as the "<strong>repository</strong>"). Clients can connect to the server and retrieve the project's code files from it.
</p>
<p>Once a file is retrieved and changed, it's marked as a <strong>pending change</strong> ("<strong>checked-out</strong>" in Microsoft's slang). The change can be committed to the repository on the server ("check-in"). In this process the source control system also logs which user committed the change, and attaches an optional relevant comment by that user. Changes in multiple files can be bundled in a single submission (Microsoft calls this a "changeset").</p>
<p>Once the change is submitted to the server, other users can (and should) get up-to-date with the latest version of the changed files.</p>
<p>In most source-control systems, client-side management is integrated into the IDE one way or another.</p>
<p>Some systems (e.g. Microsoft's Visual Source Safe) allow only a single user make changes in a specific file at a time, while others (like Microsoft Team Foundation Server) allow multiple users to make changes concurrently.</p>
<p>Each file's history of changes it kept on the server, thus it can be reverted to any of its previous states. Additional common features usually include the ability to mark all the files in the project with a label (e.g. "Code version 1.3") at some given point in time, thus versions of the entire project can be managed and retrieved. Another option is to duplicate the entire project into a separate directory, thus creating 2 versions which can evolve in different directions. This action is called <strong>fork</strong> (Microsoft calls it "<strong>branch</strong>"). Separate forked branches can also be re-merged into one another (surprisingly Microsoft also calls this action "<strong>merge</strong>").</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>

<h2 id="download">Download List</h2>
Quick link list to the downloads mentioned in this post:

<ul>
    <li><a href="https://tortoisesvn.net/" target="_blank">TortoiseSVN</a>, A Subversion Windows Explorer integration.</li>
    <li><a href="http://www.sliksvn.com/en/download" target="_blank">Slik SVN</a>, A full command line support of Subversion client and server tools.</li>
    <li><a href="http://www.syncrosvnclient.com/" target="_blank">Syncro SVN Client</a>, A commercial Windows UI Subversion client.</li>
    <li><a href="http://www.vercue.com/" target="_blank">Vercue</a>, A free/paid Windows UI Subversion client.</li>
    <li><a href="http://www.visualsvn.com/" target="_blank">Visual</a> SVN, A commercial Visual Studio Subversion integrated client.</li>
    <li><a href="http://ankhsvn.open.collab.net/" target="_blank">AnkhSVN</a>,  A free Visual Studio Subversion integrated client.</li>
    <li><a href="http://winmerge.org/" target="_blank">WinMerge</a>, My favourite free code diff tool.</li>
</ul>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h2 id="foss">VCS for Cheap Bastards: Free Open-Source Solutions</h2>
<p>
    Git, Mercurial, Bazaar and Subversion (a.k.a SVN, by Apache) are 4 commonly used open-source solutions, each consists of a source-control proprietary repository schema, an API and several compatible tools (clients and server implementations, IDE and desktop integration etc). Some of those tools  are free and some commercially paid. They all also support remote usage over HTTP based on well-documented REST services, thus they can be stored online.<br/>
    Git and Subversion seem to be the most commonly used repository types. There are many more, which can be seen and compared in <a href="http://en.wikipedia.org/wiki/Comparison_of_revision_control_software" target="_blank">this Wikipedia article</a>.
</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="subver">My choice: Subversion</h3>
After a short and painful trial with <strong>Mercurial</strong> and a short shallow glance at <strong>Git</strong>, I came to the conclusion that <strong>Subversion</strong> is the more user-friendly of the four options and decided to go with it (thus I won't be writing much about the other solutions).


<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h2 id="cloudstore">The Sky is not the Limit: Store It in the Cloud</h2>
<h3>Why store your code online?</h3>
<ul>
    <li>It makes sharing it among developers easy.</li>
    <li>You don't need to run your own VCS repository server.</li>
    <li>It's always accessible.</li>
    <li>Easy to connect to your code from more than one machine.</li>
    <li>It's a reliable backup for your code with all its changes</li>
</ul>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="cloudwhere">Where?</h3>
<p>Well, the answer to that question partially depends on how private you need your project's code to be; Whether you are working on a private project which should be restricted and secured, or you are working on an open-source project and you have no problem sharing it with the rest of the world.</p>
<p>Other factors are the size of your project, the number of individual users who will be working on it, whether you require additional features (like task/bug tracking) and, of course, how cheap a bastard you are.</p>
<p>There are quite a few websites that offer (some free and some paid) storage of source-control repositories. Many of them are compatible with at least one of the 4 source-control systems listed above.</p>
<p>Here are a few examples I've collected. I marked in yellow the services which provide free storage and keep your code private at the same time:</p>
<table border="1" cellpadding="2" cellspacing="0"><tbody>
    <tr style="background-color: #cccccc;"><td><b>Where?</b></td>
    <td><b>Free Storage?</b></td>
    <td><b>Supported Repositories</b></td>
    <td><b>Your Code Is..</b></td>
    </tr>
    <tr style="background-color: yellow;"><td><a href="http://www.assembla.com/" target="_blank">Assembla</a></td><td><span style="color: #6aa84f; text-align: left;">Yes&nbsp;</span><span style="text-align: left;">(Up to 1 GB)</span></td><td>Git, Subversion</td><td><span style="text-align: left;"><span style="color: #6aa84f;">private</span></span>
    </td></tr>
    <tr><td><a href="http://beanstalkapp.com/" style="text-align: left;" target="_blank">beanstalk</a><span style="text-align: left;">&nbsp;</span>
    </td>
    <td><span style="color: red;">No</span></td>
    <td><span style="text-align: left;">Git,&nbsp;</span><span style="text-align: left;">Subversion</span></td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span>
    </div>
    </td>
    </tr>
    <tr><td><a href="http://www.berlios.de/developers.php.en" style="text-align: left;" target="_blank">BerliOS</a><span style="text-align: left;">&nbsp;</span>&nbsp;</td>
    <td><span style="color: #6aa84f;">Yes</span> (Unlimited)
    </td>
    <td><div style="text-align: left;">
    Git, Subversion, Mercurial,&nbsp;CVS</div>
    </td>
    <td><div style="text-align: left;">
    <span style="color: red;">open-source</span>
    </div>
    </td>
    </tr>
    <tr style="background-color: yellow;"><td><a href="https://bitbucket.org/" style="text-align: left;" target="_blank">bitbucket</a><span style="font-weight: bold; text-align: left;">&nbsp;</span><b>&nbsp;</b></td>
    <td><span style="color: #6aa84f;">Yes</span> (Unlimited)
    </td>
    <td><span style="text-align: left;">Git, Mercurial</span></td>
    <td><span style="text-align: left;"><span style="color: #6aa84f;">private</span></span><span style="text-align: left;">&nbsp;</span></td>
    </tr>
    <tr><td><a href="http://codesion.com/products.html" style="text-align: left;">codesion</a>
    </td>
    <td><span style="color: #6aa84f;">Y</span><span style="color: #6aa84f; text-align: left;">es&nbsp;</span><span style="text-align: left;">(Up to 100 MB)</span></td>
    <td><span style="text-align: left;">Git, Subverion</span></td>
    <td><span style="text-align: left;"><span style="color: red;">open-source</span></span></td>
    </tr>
    <tr><td><a href="http://www.codeplex.com/" style="text-align: left;">CodePlex</a>
    </td>
    <td><span style="color: #6aa84f;">Yes</span>&nbsp;(Unlimited)
    </td>
    <td><div style="text-align: left;">
    <span style="text-align: -webkit-auto;">Git, Mercurial, Subversion</span>
    </div>
    </td>
    <td><span style="text-align: left;"><span style="color: red;">open-source</span></span></td>
    </tr>
    <tr><td><a href="http://www.codespaces.com/" style="text-align: left;">Code Spaces</a>
    </td>
    <td><span style="color: red;">No</span>
    </td>
    <td><div style="text-align: left;">
    Git, Subverion
    </div>
    </td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span>
    </div>
    </td>
    </tr>
    <tr><td><a href="http://www.dynamsoft.com/" style="text-align: left;">dynamsoft</a>
    </td>
    <td><span style="color: red;">No</span>
    </td>
    <td><span style="text-align: left;">TFS</span></td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span>
    </div>
    </td>
    </tr>
    <tr style="background-color: yellow;"><td><a href="http://freepository.com/" style="text-align: left;" target="_blank">freepository</a>
    </td>
    <td><span style="color: #6aa84f;">Yes</span>
    </td>
    <td><div style="text-align: left;">
    <span style="text-align: -webkit-auto;">Subversion</span>
    </div>
    </td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span>
    </div>
    </td>
    </tr>
    <tr>
    <td><a href="https://github.com/" target="_blank">github</a>
    </td>
    <td><span style="color: #6aa84f;">Yes&nbsp;</span>(Unlimited)</td>
    <td><span style="text-align: left;">Git</span>
    </td>
    <td><span style="text-align: left;"><span style="color: red;">open-source</span></span></td>
    </tr>
    <tr><td><a href="http://code.google.com/hosting/" style="text-align: left;" target="_blank">Google Code Hosting</a><b>&nbsp;</b></td>
    <td><div style="text-align: -webkit-auto;">
    <span style="color: #6aa84f; text-align: left;">Yes&nbsp;</span><span style="text-align: left;">(Unlimited)</span></div>
    </td>
    <td>Git, Mercurial, Subversion</td>
    <td><span style="text-align: left;"><span style="color: red;">open-source</span></span></td>
    </tr>
    <tr><td><a href="http://www.javaforge.com/" style="text-align: left;" target="_blank">JavaForge</a>
    </td>
    <td><span style="color: #6aa84f; text-align: left;">Yes&nbsp;</span><span style="text-align: left;">(Unlimited)</span>
    </td>
    <td><div style="text-align: left;">
    <span style="text-align: -webkit-auto;">Git, Mercurial, Subversion</span>
    </div>
    </td>
    <td><div style="text-align: left;">
    <span style="color: red;">open-source</span>
    </div>
    </td>
    </tr>
    <tr><td><a href="http://www.fogcreek.com/kiln/" style="text-align: left;" target="_blank">Kiln</a>
    </td>
    <td><span style="color: red;">Not really</span></td>
    <td><span style="text-align: left;">Mercurial</span></td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span>
    </div>
    </td>
    </tr>
    <tr><td><a href="https://launchpad.net/" style="text-align: left;" target="_blank">launchpad</a>
    </td>
    <td><span style="color: #6aa84f;">Y</span><span style="color: #6aa84f; text-align: left;">es&nbsp;</span><span style="text-align: left;">(Unlimited)</span></td>
    <td><span style="text-align: left;">Bazaar</span></td>
    <td><span style="text-align: left;"><span style="color: red;">open-source</span></span></td>
    </tr>
    <tr style="background-color: yellow;"><td><a href="http://www.projectlocker.com/" style="text-align: left;" target="_blank">ProjectLocker</a><span style="text-align: left;">&nbsp;</span>&nbsp;</td>
    <td><span style="color: #6aa84f;">Y</span><span style="color: #6aa84f; text-align: left;">es&nbsp;</span><span style="text-align: left;">(Up to 300 MB)</span></td>
    <td><span style="text-align: left;">Git, Subverion</span>
    </td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span>
    </div>
    </td>
    </tr>
    <tr style="background-color: yellow;"><td><a href="http://riouxsvn.com/" style="text-align: left;" target="_blank">RiouxSVN</a><span style="text-align: left;">&nbsp;</span>&nbsp;</td>
    <td><span style="color: #6aa84f;">Y</span><span style="color: #6aa84f; text-align: left;">es&nbsp;</span><span style="text-align: left;">(Up to 50 MB)</span></td>
    <td><span style="text-align: left;">Subverion</span>
    </td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span>
    </div>
    </td>
    </tr>
    <tr><td><a href="http://sourceforge.net/" style="text-align: left;" target="_blank">SourceForge</a><span style="text-align: left;">&nbsp;</span>&nbsp;</td>
    <td><span style="color: #6aa84f;">Y</span><span style="color: #6aa84f; text-align: left;">es&nbsp;</span><span style="text-align: left;">(Unlimited)</span></td>
    <td>Subversion</td>
    <td><span style="text-align: left;"><span style="color: red;">open-source</span></span></td>
    </tr>
    <tr style="background-color: yellow;"><td><a href="http://www.sliksvn.com/en/download" style="text-align: left;" target="_blank">Slik SVN</a><span style="text-align: left;">&nbsp;</span>&nbsp;</td>
    <td><span style="color: #6aa84f;">Y</span><span style="color: #6aa84f; text-align: left;">es&nbsp;</span><span style="text-align: left;">(Up to 100 MB)</span></td>
    <td>Subversion</td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span>
    </div>
    </td>
    </tr>
    <tr style="background-color: yellow;"><td><a href="http://unfuddle.com/" style="text-align: left;" target="_blank">unfuddle</a>
    </td>
    <td><span style="color: #6aa84f;">Y</span><span style="color: #6aa84f; text-align: left;">es&nbsp;</span><span style="text-align: left;">(Up to 200 MB)</span></td>
    <td><span style="text-align: left;">Git, Mercurial</span></td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span></div>
    </td></tr>
    <tr><td><a href="http://xp-dev.com/" style="text-align: left;" target="_blank">XP-Dev.com</a>
    </td>
    <td><span style="color: red;">No</span>
    </td>
    <td><div style="text-align: left;">
    <span style="text-align: -webkit-auto;">Git, Mercurial, Subversion</span><b>&nbsp;</b></div>
    </td>
    <td><div style="text-align: left;">
    <span style="color: #6aa84f;">private</span></div>
    </td></tr>
    </tbody></table>

    <p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="cloudchoice">My choice: Assembla</h3>
After reviewing the above options, and a couple more, my clear winner was Assembla:
<ul>
    <li>Free, up to 1 GB.</li>
    <li>Keeping my project private.</li>
    <li>Supporting Subversion repositories (and Git, but I am willing to forgive them for that).</li>
    <li>Gets extra points for containing the word Ass in its name.</li>
</ul>
I have ruled out the popular bitbucket since it supports only Git and Mercurial repositories, and also due to their somewhat unorthodox work methodologies...
{% include blog/embed-youtube.html code="8wUOUmeulNs" %}

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h2 id="breakdown">Breakdown of the Procedure</h2>
<p>The process which I'm going to provide here consists of a number of steps. Perhaps not all of them are necessary for you, but I give them fully in order to give a good explanation of how Subversion works locally as well as online:</p>
<ul>
    <li><strong>The starting point</strong>: I have my local code in a local standalone folder.</li>
    <li>Create an empty local Subversion repository in a local folder.</li>
    <li>Copy my code from my local standalone folder into the newly created repository.</li>
    <li>Get code from the local repository to an empty folder, which will now be a working code folder associated with the local repository.</li>
    <li>Create a dump of the local repository in an archived file.</li>
    <li>Create an online Subversion hosting account.</li>
    <li>Upload the archived repository to the online hosting service.</li>
    <li>Get code from the online repository to an empty local folder. This folder will now be a working code folder associated with the online repository.</li>
</ul>


<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h2 id="createlocally">Getting Started: Create the Repository Locally</h2>
<p>Now that I have chosen my source control implementation type (Subversion, i.e. SVN) and where to store it (Assembla), I need to create an SVN repository of my code.</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="installpreliminary">Install preliminary tools</h3>
<p>
    In order to start working with SVN and produce the repository, the basic binaries need to be installed.<br/>

    The most common basic implementation is <a href="http://tortoisesvn.net/" target="_blank">TortoiseSVN</a>. It provides a set of client utilities, including Windows Explorer integration.<br/>

    There are more user friendly client tools (will talk about those a bit later), but for having the initial essential binaries, this is a good start.<br/>

    This is all nice and good, but unfortunately TortoiseSVN does not cover the entire range of Subversion client and server tools. A good addition would be a full support of SVN command line tools. There are many implementations for that too. One of which is <a href="http://www.sliksvn.com/en/download" target="_blank">Slik SVN</a> (which also provides free SVN hosting service, as listed above), and that's the one I'll be using here.<br/>

</p>

<h3 od="createrepofolder">Create a separate repository folder (server)</h3>
<p>
    To get started working in a source-control mode, we now need to split our code location in 2: We need a folder to contain an SVN managed repository database (server), and a work folder where where we can retrieve versions of the files and submit changes to them (client).
</p>
<p>
    The first step is to define an empty folder as a repository folder.<br/>
    Right-click the designated folder and on the context-menu select TortoiseSVN <i class="fa-solid fa-arrow-right"></i> Create repository here.
</p>

<img src="/assets/img/blog/CreateRepositoryHere.png" title="Set an empty folder as a repository folder"/>
<div class="caption">Set an empty folder as a repository folder</div>
<p>
    If all goes well (and, seriously, if it doesn't at this stage, we need to talk..), TortoiseSVN will add what it needs to make this folder into a kosher repository (currently an empty one), and it even gives a notification about that. For the moment we'll leave it at that and hit OK.
</p>
<img src="/assets/img/blog/RepositoryCreated.png" title="Repository folder created"/>
<div class="caption">Repository folder created</div>

<p>This folder now acts as our Subversion repository server.</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="moveyourcode">Move your code to the repository</h3>
Now to import some code to the empty repository. Doing that is as easy as right-clicking the code's folder and selecting TortoiseSVN <i class="fa-solid fa-arrow-right"></i> Import...

<img src="/assets/img/blog/ImportMyProjIntoRepository.png" title="Import my project into a Subversion repository"/>
<div class="caption">Import my project into a Subversion repository</div>

<p>
    Select the location of the repository. This can be a URL of an online Subversion repository, or (in our case, for now), a local folder repository.<br/>
    <strong>Note:</strong> This should be a valid URI. Notice the "file:///..." prefix. It's necessary. If you're not sure, just click the "browse" ("...") button next to the textbox and select the repository folder through the UI.
</p>
<img src="/assets/img/blog/ImportMyProjIntoRepository2.png" title="Choose repository folder"/>
<div class="caption">Choose repository folder</div>

<p>
    Files are transferred to the repository.<br/>
    Congratulations! Your code in its current state is as of now revision #1.<br/>
    <strong>Note</strong> that binary files (built executables in bin and obj folders) were also transferred to the repository. It's usually uncommon practice to include them in the repository (which normally holds just the unbuilt project). We'll handle this later.<br/>
</p>
<img src="/assets/img/blog/ImportMyProjIntoRepository3.png" title="Congratulations! Version 1 is created in the repository."/>
<div class="caption">Congratulations! Version 1 is created in the repository.</div>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="createclientfolder">Create a working folder (client)</h3>
<p>Hurray! Now we have a copy of our code in a SVN repository database (in a local folder). This repository folder acts as a source or server from which the code can be retrieved, and to which changes can be submitted (by one or more clients).</p>
<p><strong>One important thing to note</strong> is that the 2 folders (the repository folder, and the folder from which the code was imported) are not connected at the moment at all. That is, there is no Subversion client-server relation between them. Now it's time to establish this relation.</p>
<p>Actually, a good practice at this stage is to start with an empty folder, and let Subversion manage its content.</p>
<p>To do that, right-click the designated working folder, select SVN Checkout... (notice that this is not the same term as what Microsoft calls "check-out"!  With Microsoft's source-control products, "check out" means open the file locally on the client for editing. Here we mean creating a working code folder).</p>
<img src="/assets/img/blog/SVNCheckout1.png" title="SVN Checkout on an empty folder"/>
<div class="caption">SVN Checkout on an empty folder</div>

<p>Now choose the repository location. Again, this can be an online URL of an SVN repository, or the local folder, and again this should be a valid URI. Notice the "file:///..." prefix. It's necessary. If you're not sure, just click the "browse" ("...") button next to the textbox and select the repository folder.</p>
<img src="/assets/img/blog/SVNCheckout2.png" title="Choose repository source and destination folder"/>
<div class="caption">Choose repository source and destination folder</div>

<p>The work folder is constructed with files from the repository.</p>

<img src="/assets/img/blog/SVNCheckout3.png" title="Files are transferred to the working folder"/>
<div class="caption">Files are transferred to the working folder</div>
<p>Now the working folder contains the project's code and marked with an icon to show it's connected to the local SVN source control.</p>
<img src="/assets/img/blog/SVNCheckout4S.png" title="The folder is now marked with a proper icon"/>
<div class="caption">The folder is now marked with a proper icon</div>

<p>
    The files in the working folder are also marked with proper icons reflecting their SVN source control status. Also note the .svn folder which contains revision information.<br/>
    It's now also possible to directly perform source control actions like "Update" (get the latest version of the file from the repository) or "Commit" (submit changes in the file to the repository).
</p>
<img src="/assets/img/blog/SVNCheckout5S.png" title="The content of the folder reflects source-control status"/>
<div class="caption">The content of the folder reflects source-control status</div>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="ignorebins">Don't keep unnecessary binaries in your repository!</h3>
<p>
    It's good practice to keep everything you need for your project to build in the repository. It's uncommon to keep the built outputs, which are created in the Bin and Obj folders.<br/>
    If Subversion adds your binary outputs to the repository, you can easily remove them and set Subversion to ignore them in the future. This can be done by name or extension, at the folder level or at the files level.<br/>
    All you have to do is right-click the items you wish to remove and ignore, and select:<br/>
    TortoiseSVN <i class="fa-solid fa-arrow-right"></i> Unversion and add to ignore list <i class="fa-solid fa-arrow-right"></i> Delete and ignore items by name (or by extension).
</p>
<img src="/assets/img/blog/IgnoreFiles.png" title="Delete and ignore unneeded items"/>
<div class="caption">Delete and ignore unneeded items</div>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h2 id="assemblagettingstarted">Moving It to the Cloud: Getting Started with Assembla</h2>
<p>It's time to discard the local repository and upload it to the cloud. Most of the steps are pretty self-explanatory, but I'll provide a quick screenshot-illustrated walkthrough with some important commentary.</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="dump">Create a dump of your local repository</h3>
<p>
    To make it easy to move your entire repository (that includes the project sources, history of tracked changes etc), it's possible to dump it into a backup file first.<br/>
    This is done with Subversion's command line tool named <stong>SvnAdmin</stong>.It's included in various Subversion implementations, including Slik SVN mentioned above. The syntax is:
    <pre><code class="language-batch line-numbers remove-initial-line-feed">svnadmin dump REPOS_PATH</code></pre>
    where REPOS_PATH is the path of your local repository.<br/>
    In order to dump the data into a file, a command line redirection is used by providing the &gt; symbol followed by a full path to the file.
    Here's an example:<br/>
    <pre><code class="language-batch line-numbers remove-initial-line-feed">svnadmin.exe dump "D:\Users\Alon\Desktop\My Repository" &gt;"c:\MyRepository.bak"</code></pre>
    Note that this file is also required by Assembla to be zipped before it's uploaded, to reduce traffic.
    Once we have a zipped dump, we're good to go.
</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="hosting">Set up your SVN hosting space</h3>
<p>
    Go to Assembla, create an account, confirm it by email and log in (if don't know how to do that, we really need to talk).<br/>
    Under "My Start" you should "Create your own space". This space will host your repository, so pay attention on the following steps.
</p>
<img src="/assets/img/blog/Assembla1.png" title="Create your own repository space on Assembla"/>
<div class="caption">Create your own repository space on Assembla</div>

<p>You have the option to create a private project or a public open-source project. The choice is up to you. Since my project is private, I get started with the private option.</p>
<img src="/assets/img/blog/Assembla2.png" title="Create a private project! (Unless you want your code to be open-source)"/>
<div class="caption">Create a private project! (Unless you want your code to be open-source)</div>

<p>On the next step you'll be asked to select the repository type and features. The free options are down there, just scroll down and expand them. There's also a Git option, but I'll pass this time, thank you.</p>
<img src="/assets/img/blog/Assembla3.png" title="Go for the free repository option (Unless you wish to pay for more)"/>
<div class="caption">Go for the free repository option (Unless you wish to pay for more)</div>

<p>Next you'll be asked to specify a name for your repository. This is important because this name will be (by default) used in your repository's URL.</p>
<img src="/assets/img/blog/Assembla4.png" title="Name your repository"/>
<div class="caption">Name your repository</div>

<p>Once you have the repository space created, you can go to the Import/Export section and upload the archived repository created as explained above.</p>
<img src="/assets/img/blog/Assembla7.png" title="Import a dump of your repository"/>
<div class="caption">Import a dump of your repository</div>

<p>Importing...</p>
<img src="/assets/img/blog/Assembla8.png" title="Importing...">
<div class="caption">Importing...</div>

<p>
    Once the import is complete, your repository is online. The repository folder we've been working with until now can be discarded, and the clients should be working with the online repository instead.<br/>
    Note the <strong>svn URL</strong> field below- this is to be used by Subversion clients from now on.
</p>
<img src="/assets/img/blog/Assembla9.png" title="Congrats! Your repository is now online!">
<div class="caption">Congrats! Your repository is now online!</div>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="workingfoler">Create a working folder (client)</h3>
<p>
    In order to work with a client on the online repository, we need to create a working folder, just like we did with the local repository.<br/>
    The first step is similar: Right click the folder and select SVN Checkout...
</p>
<img src="/assets/img/blog/SVNCheckout1x.png" title="SVN Checkout on an empty folder (even when the repository is online)">
<div class="caption">SVN Checkout on an empty folder (even when the repository is online)</div>

<p>The next step is also similar, just that we're using the URL of our online repository, instead or a local folder URI:</p>
<img src="/assets/img/blog/OnlineCheckin.png" title="Get the files to the working folder (from online repository)">
<div class="caption">Get the files to the working folder (from online repository)</div>

<p>Since the online repository is on a secure account, we'll have to provide credentials to access it:</p>
<img src="/assets/img/blog/OnlineCheckin2.png" title="Credentials for the online repository">
<div class="caption">Credentials for the online repository</div>

<p>The result is the same, but now our local working folder is connected to an online repository.<br/>
    The local repository folder can now be discarded.</p>


    <p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h2 id="improvedux">Improved User Experience</h2>
<p>
    TortoiseSVN (in Windows Exploerer) and Slik SVN (via the command line) provide all the tools I need now to manage my code. It's easy to update a file, submit changes and perform any action on my Subversion repository, both locally and online.<br/>
    However, in terms of user experience, the situation is far below par. Luckily there are many client solutions. Again, some are paid and some are free open-source. Here is a Wikipedia article with a comprehensive list of  Subversion clients. I have tested a few of those solutions, and I'll list here the 2 which made the best impression so far.
</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="noteversion">Important note: Know the version of your repository!</h3>
<p>
    One important note when it comes to Subversion repositories: Subversion is being developed by Apache and keeps evolving as a product. There are differences between repositories of version 1.6 and version 1.7.4, and not every tool supports every version. When working with TortoiseSVN or Slik SVN and when creating your repository online or offline, it's good to know which version of Subversion you are working with.<br/>
    When installing client tools, be sure they support your repository version.
</p>
<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="syncrosvn">Commercial tool: Syncro SVN Client</h3>
<p>
    Syncro SVN Client is a very nice client Subversion application. It's has a very intuitive and easy to use user interface. It allows management of multiple repositories, both online and offline and supports all the main features of Subversion.<br/>
    I have tested version 7.2, which was the latest version at the time this post was written, and at the moment the <strong>supported Subversion version is 1.6</strong>. Thus, for example, it failed to detect my working copy folder with Subversion 1.7.4 as being under source control.<br/>
    Syncro SVN is a paid commercial tool with <a href="http://www.syncrosvnclient.com/buy.html" target="_blank">a number of license options</a>.<br/>
    However, in every other aspect, Syncro SVN is a very appealing client tool.
</p>
<img src="/assets/img/blog/SyncroSVN1.png" title="Syncro SVN Repositories Management">
<div class="caption">Syncro SVN Repositories Management</div>

<img src="/assets/img/blog/SyncroSVN2.png" title="Syncro SVN History Management">
<div class="caption">Syncro SVN History Management</div>

<h3 if="vercue">Free tool with a paid option: Vercue</h3>
<p>
    Yes, it's true Vercue has a paid professional version too with extra features, but on a small scale I tried the free version and was very satisfied with it.<br/>
    Vercue supports Subversion 1.7.4 (the latest), works fluently with my online and offline repositories. Good intuitive user interface, and everything a Subversion user needs in one place.<br/>
    For the sake of full disclosure, I must add that the fact that it was developed by a fellow Israeli (although I do not know him) adds a bit to my personal pride and will to promote it. In any case- good work, Adrian!
</p>
<img src="/assets/img/blog/Vercue.png" title='Vercue - "The Reasonable Subversion Experience"'>
<div class="caption">Vercue - "The Reasonable Subversion Experience"</div>


<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h2 id="useinvs">Use Your Repository Like a Boss: Take It into Visual Studio!</h2>
<p>In case you are, like me, working with Visual Studio, going back and forth to an external client application is a bit uncomfortable. Integrating Subversion directly into Visual Studio improves the work experience tremendously. With a good tool at hand, you don't have to leave your development environment at all!</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="ankhsvn">My choice: AnkhSVN</h3>
<p>There are 2 leading extensions for Visual Studio: The paid Visual SVN and the free (and awesome!) AnkhSVN. I have tried both, and I am very impressed with AnkhSVN.</p>
<p>AnkhSVN has gone quite a way from being a Visual Studio extension to a full-blown Source-Control plugin working directly from within the IDE. If you've worked with VSS or TFS, working with AnkhSVN would be as easy as cake. Many of the features you're used to are already there just where you'd expect them to be.</p>
<p>Here are a few appetizing screenshots:</p>
<img src="/assets/img/blog/Ankh1.png" title="Full integration with menus and icons into Solution Explorer / Solution Navigtor">
<div class="caption">Full integration with menus and icons into Solution Explorer / Solution Navigtor</div>

<img src="/assets/img/blog/Ankh2.png" title="Pending changes window! Yes, just like good ol' TFS...">
<div class="caption">Pending changes window! Yes, just like good ol' TFS...</div>

<img src="/assets/img/blog/Ankh3.png" title="Commit your pending changes like a boss!">
<div class="caption">Commit your pending changes like a boss!</div>

<img src="/assets/img/blog/Ankh4.png" title="AnkhSVN is a full registered source control plugin">
<div class="caption">AnkhSVN is a full registered source control plugin</div>

<img src="/assets/img/blog/Ankh5.png" title="Use your favourite diff tool! (Mine is the free awesome WinMerge">
<div class="caption">Use your favourite diff tool! (Mine is the free awesome <a href="http://winmerge.org/" target="_blank">WinMerge</a>)</div>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="withtfs">Working side-by-side with TFS: Set your solution's source control</h3>
<p>

    You may want to open your Subversion-controlled solution in a place where TFS is used (e.g. in your workplace). It's possible to explicitly set your project to know it's under Subversion control (thus automatically load with AnkhSVN and not with the default TFS).
    <br/>
    To do this:
</p>

<p>
    Open your Subversion-AnkhSVN-controlled solution in Visual Studio.
    <br/>
    In Visual Studio's main menu go to File <i class="fa-solid fa-arrow-right"></i> Subversion <i class="fa-solid fa-arrow-right"></i> Change Source Control...
</p>
<img src="/assets/img/blog/Ankh-SetSource1.png" title="Connect your solution to a specific source control">
<div class="caption">Connect your solution to a specific source control</div>


<p>
    In the dialog that pops up, select each of the lines (one for the solution, and one for every project), click the Connect button to make the Connected box checked.<br/>
    Then click OK to confirm.
</p>
<img src="/assets/img/blog/Ankh-SetSource2.png" title="Choose to connect both the solution and each of the projects">
<div class="caption">Choose to connect both the solution and each of the projects</div>

<p>
    Once this is done and your solution is saved, whenever you open your solution, even if you do it in an environment where TFS is the default source control plugin, AnkhSVN will take over.<br/>
    Other solutions will be opened regularly to work with TFS.
</p>

<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>


<h3 id="behindthescenes">Behind the scenes:</h3>
<p>
    This action adds a few lines in the .sln file and in its .csproj files which relate them to the right source-control.<br/>
    Those lines can also be added manually (although, why?).<br/>
    Here is an example of what's added to an .sln file:
</p>
<div style="display:inline-block; border: 1px solid black;">
Microsoft Visual Studio Solution File, Format Version 11.00<br/>
# Visual Studio 2010<br/>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "MyProject", "MyProject.csproj", "{1B12BC2A-4E44-4556-9370-7205C94AD5FE}"<br/>
EndProject<br/>
Global<br/>
<div style="background-color: yellow;">
 GlobalSection(SubversionScc) = preSolution<br/>
  Svn-Managed = True<br/>
  Manager = AnkhSVN - Subversion Support for Visual Studio<br/>
 EndGlobalSection
</div>
  GlobalSection(SolutionConfigurationPlatforms) = preSolution<br/>
  Debug|x86 = Debug|x86<br/>
  Release|x86 = Release|x86<br/>
 EndGlobalSection<br/>
 GlobalSection(ProjectConfigurationPlatforms) = postSolution<br/>
  {1B12BC2A-4E44-4556-9370-7205C94AD5FE}.Debug|x86.ActiveCfg = Debug|x86<br/>
  {1B12BC2A-4E44-4556-9370-7205C94AD5FE}.Debug|x86.Build.0 = Debug|x86<br/>
  {1B12BC2A-4E44-4556-9370-7205C94AD5FE}.Release|x86.ActiveCfg = Release|x86<br/>
  {1B12BC2A-4E44-4556-9370-7205C94AD5FE}.Release|x86.Build.0 = Release|x86<br/>
 EndGlobalSection<br/>
 GlobalSection(SolutionProperties) = preSolution<br/>
  HideSolutionNode = FALSE<br/>
 EndGlobalSection<br/>
EndGlobal
</div>

<p>Here is an example of what's added to an .csproj file:</p>
<div style="display:inline-block; border: 1px solid black;">
&nbsp;&lt;?xml version="1.0" encoding="utf-8"?&gt;<br/>
&nbsp;&lt;Project ToolsVersion="4.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003"&gt;<br/>
&nbsp;&nbsp;&lt;PropertyGroup&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Configuration Condition=" '$(Configuration)' == '' "&gt;Debug&lt;/Configuration&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Platform Condition=" '$(Platform)' == '' "&gt;x86&lt;/Platform&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;ProductVersion&gt;8.0.30703&lt;/ProductVersion&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;SchemaVersion&gt;2.0&lt;/SchemaVersion&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;ProjectGuid&gt;{1B12BC2A-4E44-4556-9370-7205C94AD5FE}&lt;/ProjectGuid&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;OutputType&gt;Exe&lt;/OutputType&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;AppDesignerFolder&gt;Properties&lt;/AppDesignerFolder&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;RootNamespace&gt;MyProject&lt;/RootNamespace&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;AssemblyName&gt;MyProject&lt;/AssemblyName&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;TargetFrameworkVersion&gt;v4.0&lt;/TargetFrameworkVersion&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;TargetFrameworkProfile&gt;Client&lt;/TargetFrameworkProfile&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;FileAlignment&gt;512&lt;/FileAlignment&gt;<br/>
<div style="background-color: yellow;">
&nbsp;&nbsp;&nbsp;&lt;SccProjectName&gt;Svn&lt;/SccProjectName&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;SccLocalPath&gt;Svn&lt;/SccLocalPath&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;SccAuxPath&gt;Svn&lt;/SccAuxPath&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;SccProvider&gt;SubversionScc&lt;/SccProvider&gt;<br/>
</div>
&nbsp;&nbsp; &lt;/PropertyGroup&gt;<br/>
&nbsp;&nbsp;&lt;PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|x86' "&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;PlatformTarget&gt;x86&lt;/PlatformTarget&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;DebugSymbols&gt;true&lt;/DebugSymbols&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;DebugType&gt;full&lt;/DebugType&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Optimize&gt;false&lt;/Optimize&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;OutputPath&gt;bin\Debug\&lt;/OutputPath&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;DefineConstants&gt;DEBUG;TRACE&lt;/DefineConstants&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;ErrorReport&gt;prompt&lt;/ErrorReport&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;WarningLevel&gt;4&lt;/WarningLevel&gt;<br/>
&nbsp;&nbsp;&lt;/PropertyGroup&gt;<br/>
&nbsp;&nbsp;&lt;PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|x86' "&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;PlatformTarget&gt;x86&lt;/PlatformTarget&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;DebugType&gt;pdbonly&lt;/DebugType&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Optimize&gt;true&lt;/Optimize&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;OutputPath&gt;bin\Release\&lt;/OutputPath&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;DefineConstants&gt;TRACE&lt;/DefineConstants&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;ErrorReport&gt;prompt&lt;/ErrorReport&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;WarningLevel&gt;4&lt;/WarningLevel&gt;<br/>
&nbsp;&nbsp;&lt;/PropertyGroup&gt;<br/>
&nbsp;&nbsp;&lt;ItemGroup&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Reference Include="System" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Reference Include="System.Core" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Reference Include="System.Xml.Linq" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Reference Include="System.Data.DataSetExtensions" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Reference Include="Microsoft.CSharp" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Reference Include="System.Data" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Reference Include="System.Xml" /&gt;<br/>
&nbsp;&nbsp;&lt;/ItemGroup&gt;<br/>
&nbsp;&nbsp;&lt;ItemGroup&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Compile Include="Program.cs" /&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;Compile Include="Properties\AssemblyInfo.cs" /&gt;<br/>
&nbsp;&nbsp;&lt;/ItemGroup&gt;<br/>
&nbsp;&nbsp;&lt;Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" /&gt;<br/>
&nbsp;&nbsp;&lt;!-- To modify your build process, add your task inside one of the targets below and uncomment it.<br/>
&nbsp;&nbsp;&nbsp;Other similar extension points exist, see Microsoft.Common.targets.<br/>
&nbsp;&nbsp;&lt;Target Name="BeforeBuild"&gt;<br/>
&nbsp;&nbsp;&lt;/Target&gt;<br/>
&nbsp;&nbsp;&lt;Target Name="AfterBuild"&gt;<br/>
&nbsp;&nbsp;&lt;/Target&gt;<br/>
&nbsp;&nbsp;--&gt;<br/>
&nbsp;&lt;/Project&gt;
</div>


<p><a href="#toc"><i class="fa-solid fa-arrow-up-wide-short"></i> Back to Table of Contents</a></p>

