---
title: Douglas Crockford's JavaScript Lectures
tags:
    - Javascript
    - Web
redirect_from: /2012/02/douglas-crockfords-javascript-lectures.html
image: /assets/img/blog/crockford.png
hidden: false
subtitle: A must for any developer!
---
<p><a href="http://en.wikipedia.org/wiki/Douglas_Crockford" target="_blank">Douglas Crockford</a>  is a JavaScript architect working for Yahoo and one of the founding developers of the JavaScript language.</p>
<p>
    This is a series of fascinating lectures which, I think, <strong>should be watched by every developer</strong>, especially ones who have interest in web frontend client-side development and JavaScript.
    There are many online lectures and tutorials about JavaScript, which is perhaps becoming the world's most common programming language, but not every day you come across such good lectures, given by one of the developers of the language itself.
</p>
<p>
    The first one is quite an amazing overview of the evolution of computers and computer languages. As noted above, the fact that it's presented by a person who has taken part in the actual process, makes it rather special. <br/>
    <strong>Should be watched by every geek</strong>.
    <br/>
    {% include blog/embed-youtube.html code="JxAXlJEmNMg" %}
</p>
<p>
    
    The next lectures cover JavaScript specific topics and they are very very good.
    <strong>Recommended for anyone who knows or thinks they know JavaScript</strong>, as a deep coverage of the language particles, talking about quirks and common pitfalls, which not everyone is aware of..
    <br/>
    {% include blog/embed-youtube.html code="RO1Wnu-xKoY" %}
</p>
<p>
    
    Deep view of functions, their versatility and usefulness in JavaScript:<br/>
    {% include blog/embed-youtube.html code="RO1Wnu-xKoY" %}
</p>
<p>
    About DOM and AJAX:<br/>
    {% include blog/embed-youtube.html code="Fv9qT9joc0M" %}
</p>
<p>
    
    More about the future, about security and performance in relation to JavaScript:<br/>
    {% include blog/embed-youtube.html code="47Ceot8yqeI" %}
</p>