---
title: Curriculum Vitae
layout: page
---
<!-- each is 400px -->
{% assign num_of_items = site.experience | size %}
{% assign mod = num_of_items | modulo: 2 %}
<!--odd-->
{% if mod == 1 %}
  {% assign height_factor = num_of_items | minus: 1 | divided_by: 2 | plus: 1 %}
<!--even-->
{% else %}
  {% assign height_factor = num_of_items | divided_by: 2 %}
{% endif %}

<style>
a:hover {
  text-decoration: none;
}

@media (min-width: 1075px) {
  span.pointer
  {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    --angle-width: 18px;
}

  #timeline .experience-card:nth-child(even) span.pointer
  {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    top: 29px;
  }
  #timeline .experience-card:nth-child(odd) span.pointer
  {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    top: 27px;
  }
  
 .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
  }

  .hover-card:hover .head::before {
    display:none;
  }
}

#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .timeline-cards-wrapper {
  position: relative;
  margin: auto;
  

}
@media (min-width: 1075px) {
  #timeline .timeline-cards-wrapper {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
  }
}

#timeline .timeline-cards-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}

#years-indicator {
    display: none;
}

@media (min-width: 1075px) {
  #timeline .timeline-cards-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
#timeline .experience-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .experience-card {
    max-width: 80%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
  #years-indicator {
    display: block;
  }
}
@media (min-width: 720px) {
  #timeline .experience-card {
    max-width: 80%;
  }
}


@media (min-width: 1075px) {
  #timeline .experience-card {
    max-width: 450px;
    height: 400px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline .experience-card:nth-child(odd) {
    margin-right: 45px;
  }

  #timeline .experience-card:nth-child(odd) span.pointer
  {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }

  #timeline .experience-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  #timeline .experience-card:nth-child(even) {
    margin-left: 45px;
  }
  #timeline .experience-card:nth-child(even) span.pointer
  {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .experience-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  #timeline .experience-card:nth-child(2) {
    margin-top: 180px;
  }
}
#timeline .experience-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .experience-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
}

#timeline .experience-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;  
}
@media (min-width: 1075px) {
  #timeline .experience-card .body {
    height: 315px;
    width: 450px;
  }
}
#timeline .experience-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .experience-card .body img {
  display: block;
  width: 100%;
}

/* shading */
.experience-card
{
  -webkit-box-shadow: 0px 0px 93px -3px rgba(156,156,156,1) !important;
  -moz-box-shadow: 0px 0px 93px -3px rgba(156,156,156,1) !important;
  box-shadow: 0px 0px 93px -3px rgba(156,156,156,1) !important;
}

.hover-card
{
  transition: transform 0.2s ease;
  cursor: pointer;
}

.hover-card:hover {
  transform: scale(1.05);
  z-index: 1000000 !important;
}

.hover-card:hover .dialog-link {
  background-color: #3498db;
  color: white;
  font-weight: 800;
  font-size: 18px;
  padding: 3px 10px;
  border-radius: 4px;
}

.position {
  font-weight: 700;
  font-size: 20px;
}
.dates span {
  background-color: #827081;
    color: white;
    padding: 2px 7px;
    border-radius: 6px;
}

.experience-modal h2 {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.experience-modal h2 .dates {
  font-size: 14px;
  font-weight: normal;
}
.experience-modal .tech-list {
  column-count: 2;
}

@media (min-width: 992px) {
  .experience-modal .tech-list {
    column-count: 3;
  }
}
.year {
  background-color: white;
  padding: 2px 5px;
  margin: 0px 10px;
  font-size: 12px;
  text-decoration: none;
}

.year a {
  color: rgb(102, 102, 102);
}

.year.active, .year.active a {
  color: white;
  font-weight: 700;
  background-color: #3498db;
  text-decoration: none;
}

.year a:hover {
  text-decoration: none;
}

.year:not(.active):hover {
  background-color: yellow;
}

.year:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.year:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.custom-tooltip {
  --bs-tooltip-bg: #3498db;
}

.professional-link
{
  white-space: nowrap;
}

</style>


{% assign companies = site.experience | sort: "start-date" | reverse %}

<div class="container-fluid" style="padding-top: 100px; padding-bottom: 25px; background-color: #1c1a21; background-image: url(/assets/img/bg/morphing-diamonds.svg);">
<div style="display: flex; ">
  <span  style="display: block">
  
    <!-- populate the years indicator list-->
    <span id="years-indicator" style="position: sticky; top: 110px;">
      {% assign min_year = 9999 %}
      {% assign max_year = -1 %}
      {% assign years = "" %}
      {% assign cards_by_years = "" %}
      {% for entry in companies %}
        {% if entry.start-date %}
          {% assign year = entry.start-date | date: "%Y" | plus: 0 %}
          {% unless years contains year %}
            {% assign years = years | append: "," | append: year %}
          {% endunless %}
          {% if year < min_year %}
            {% assign min_year = year %}
          {% endif %}
        {% endif %}
        {% if entry.end-date %}
          {% assign year = entry.end-date | date: "%Y" | plus: 0 %}
          {% unless years contains year %}
            {% assign years = years | append: "," | append: year %}
          {% endunless %}
          {% if year > max_year %}
            {% assign max_year = year %}
          {% endif %}          
        {% else %}
          {% assign year = "now" | date: "%Y" | plus: 0 %}
          {% unless years contains year %}
            {% assign years = years | append: "," | append: year %}
          {% endunless %}
          {% if year > max_year %}
            {% assign max_year = year %}
          {% endif %}          
        {% endif %}
      {% endfor %}
      {% assign card_ids = cards_by_years | split: "," %}
      {% assign yearsarr = years | split: "," | sort  | reverse %}
      {% for y in (min_year..max_year) reversed %}
        <div id="year-{{y}}" class="year"><a href="#">{{ y }}</a></div>
      {% endfor %}
    </span>
  
  </span>
  <span style="flex-grow: 1">
    <div  id=timeline class="contaienr">
      <h1 style="color: white;">My Experience Timeline</h1>
      <p class="leader" style="color: white; font-size: 21px;"><i class="fa-solid fa-file-pdf"></i> Get my full CV (in <a href="https://europa.eu/europass/en" target="_blank">EU format</a>) <a href="/assets/attachments/Alon%20Rotem%20CV%20English.pdf" target="_blank">here</a>!</p>
      <p class="leader" style="color: white; font-size: 18px;">
        See my professional profiles on 
        <span class="professional-link"><a href="https://www.linkedin.com/in/alrotem/" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>,</span>
        <span class="professional-link"><a href="https://www.xing.com/profile/Alon_Rotem/" target="_blank"><i class="fa-brands fa-square-xing"></i> Xing</a>,</span>
        <span class="professional-link"><a href="https://github.com/alonrotem" target="_blank"><i class="fa-brands fa-square-github"></i> Github</a></span> and
        <span class="professional-link"><a href="https://gitlab.com/alonrotem" target="_blank"><i class="fa-brands fa-square-gitlab"></i> Gitlab</a></span>.<br/>
        Click to see <a href="/{{ site.homepage }}#about">more about me</a> and <a href="/{{ site.homepage }}#contact">more ways to contact me</a>.
      </p>

      <div id="timeline-cards-wrapper" class="timeline-cards-wrapper" style="height: 4000px; ">
        
      <!-- counter to keep track each item's order, to split into 2 columns  when needed-->
      {% assign oddcounter = 1 %}
      {% assign evencounter = height_factor | plus: 1 %}
      
      <!-- loop to create the cards -->
      {% for exp in companies %}
        {% assign mod = forloop.index | modulo: 2 %}
        <!--odd-->
        {% if mod == 1 %}
          {% assign ord = oddcounter %}
          {% assign oddcounter = oddcounter | plus: 1 %}
        <!--even-->
        {% else %}
          {% assign ord = evencounter %}
          {% assign evencounter = evencounter | plus: 1 %}
        {% endif %}
      
        <!-- card -->
        <div id="experience-card-{{forloop.index}}" data-aos="fade-up" class="experience-card" style="order: {{ord}};" data-start-date="{{ exp.start-date }}" data-end-date="{{ exp.end-date }}">
          <div class="hover-card tooltip-container">
          <div class="head" style="background-color: #6c6065;">
            <div class="number-box">
              <span><img src="{{ exp.company-logo }}" style="width: 55px; height: auto; margin: 0;" /></span>
            </div>
            <div class="entry-basic">
              <div class="company-name">{{ exp.company-name }} <span class="industry-icon" data-bs-toggle="tooltip" data-bs-title="{{ exp.company-industry }}" data-bs-custom-class="custom-tooltip"><i class="fa-solid {{ exp.industry-icon }}"></i></span></div>
              <div class="position">{{ exp.position }}</div>
              <div class="dates"><span>{{ exp.start-date | date: "%m/%Y" }} - {% if exp.end-date %}{{ exp.end-date | date: "%m/%Y" }}{% else %}Present{% endif %}</span></div>
            </div>
          </div>
          <span class="pointer" style="border-color: #6c6065; background-color: #6c6065;"></span>
          <div class="body">
            <div class="list-container" style="width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;">
              <ul class="list">
                
                {% if exp.what-i-did %}
                  {% for what in exp.what-i-did %}
                  <li>{{ what }}</li>
                  {% endfor %}
                {% endif%}
    
                {% if exp.what-i-did-multi %}
                {% assign multi-items = exp.what-i-did-multi | sort: "start-date" | reverse %}
                  {% for multi-item in exp.what-i-did-multi %}
                    {% for what in multi-item.what %}
                      <li>{{ what }}</li>
                    {% endfor %}
                  {% endfor %} 
                {% endif %}
    
              </ul>
              </div>
              <div style="    height: 30px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-content: center;
              justify-content: space-evenly;
              align-items: center;
              width: 100%;
              margin: 10px 0;">
                {% for tech in exp.tech-stack %}
                  {% assign icon = "" %}
                  {% assign tech_info = site.technologies | where: "name", tech | first %}
                  {% if tech_info and tech_info.icon %}
                    {% assign icon = tech_info.icon %}
                  {% endif %}
                    {% if icon %}
                      <img src="{{ icon }}" style="width:20px; height: auto; margin: 0px 5px 0px 0px;" data-bs-toggle="tooltip" data-bs-title="{{ tech }}" data-bs-custom-class="custom-tooltip" />
                    {% endif %}
                    <!--{{ tech }}-->
                {% endfor %}
              </div>
            <div class="dialog-link" style="margin: auto;">Click to see more <i class="fa-solid fa-square-arrow-up-right"></i></div>
          </div>
        </div>
        </div>
        <!--/card -->
       
        {% endfor %}
    
      </div>
        </div>
  </span>
</div>
</div>

{% for exp in companies %}
<!-- modal -->
<div id="experience-modal-{{forloop.index}}" class="modal modal-lg fade experience-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #6c6065; color: white;">
        <div style="    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* align-content: center; */
        justify-content: flex-start;
        align-items: center;">
          <img src="{{ exp.company-logo }}" style="width: 55px; height: auto; margin: 0; margin: 0px 13px 0px 0px;" />
          <div class="entry-basic">
            <div class="company-name">{{ exp.company-name }}</div>
            <div class="position">{{ exp.position }}</div>
            <div class="dates"><span>{{ exp.start-date | date: "%d/%Y" }} - {% if exp.end-date %}{{ exp.end-date | date: "%d/%Y" }}{% else %}Present{% endif %}</span></div>
          </div>          
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <h2>About {{ exp.company-name}}</h2>
          <p>
            <strong><i class="fa-solid {{ exp.industry-icon }}"></i> Industry:</strong> {{ exp.company-industry }}<br/>
            <strong><i class="fa-solid fa-map-location-dot"></i> Location:</strong> {{ exp.company-location }}<br/>
            {% if exp.company-link %}<strong><i class="fa-solid fa-link"></i> Website:</strong> <a href="{{ exp.company-link }}" target="_blank">{{ exp.company-link }}</a>{% endif %}
            {% for about in exp.company-about %}
              <p>{{ about }}</p>
            {% endfor %}
            {% if exp.later-info %}
            <p><strong>{{ exp.later-info }}</strong></p>
            {% endif %}
          </p>
        </p>
        <p>
          {% if exp.what-i-did %}
            <h2>My job as a {{ exp.position }}</h2>
            <ul>
            {% for what in exp.what-i-did %}
            <li>{{what}}</li>
            {% endfor %}
            </ul>
          {% endif %}
          {% if exp.what-i-did-multi %}
            {% assign multi-items = exp.what-i-did-multi | sort: "start-date" | reverse %}
            {% for multi-item in exp.what-i-did-multi %}
              <h2>{{ multi-item.title }} <span class="dates">({{ multi-item.start-date | date: "%d/%Y" }} - {% if multi-item.end-date %}{{ multi-item.end-date | date: "%d/%Y" }}{% else %}Present{% endif %})</span></h2>
              <ul>
                {% for what in multi-item.what %}
                <li>{{ what }}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          {% endif %}
        </p>
        {% if exp.tech-stack %}
        <p>
          <h2>Tech Stack</h2>
          <div class="tech-list">
          {% for tech in exp.tech-stack %}
            {% assign icon = "" %}
            {% assign tech_info = site.technologies | where: "name", tech | first %}
            {% if tech_info and tech_info.icon %}
              {% assign icon = tech_info.icon %}
            {% endif %}
            <div style="margin: 10px 0;">
              {% if icon %}
                <img src="{{ icon }}" style="width:20px; height: auto; margin: 0px 5px 0px 0px;" />
              {% endif %}
              {{ tech }}
            </div>
          {% endfor %}
          </div>
        </p>
        {% endif %}
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #3498db; color: white;">Close</button>
      </div>
    </div>
  </div>
</div>
<!--/modal -->
{% endfor %}

<script>

function calculateOverflowingBulletsInContainers() {
  var listContainers = document.getElementsByClassName('list-container');
  for(var i=0; i < listContainers.length; i++) {
    var listContainer = listContainers[i];
    var lists = listContainer.getElementsByClassName("list");
    var list = null; 
    if(lists.length > 0)  {
      list = lists[0];
    }
    if (list) {
      while (listContainer.scrollHeight > listContainer.offsetHeight) {
        var items = list.getElementsByTagName('li');
        var lastItem = items[items.length - 1];
        
        if (lastItem.innerText !== '...') {
          lastItem.remove();
          var ellipsis = document.createElement('li');
          ellipsis.innerText = '...';
          list.appendChild(ellipsis);
        } else {
          lastItem.previousSibling.remove();
        }
      }
    }
  }
}

function attachBoxClicksToModals() {
  var cards = document.getElementsByClassName('experience-card');
  for(var i=0; i< cards.length; i++){
    cards[i].addEventListener('click', function (event) {
      var initiator = event.target;
      var partialID = "experience-card-";
      while(initiator.className.indexOf("experience-card") < 0 && initiator.tagName != "body")
      {
        initiator = initiator.parentElement;
      }
      if(initiator.className.indexOf("experience-card") >= 0 && initiator.id.indexOf(partialID) == 0)
      {
        var id = initiator.id.substring(partialID.length);
        let modal = new bootstrap.Modal('#experience-modal-' + id);
        modal.show();
      }
    });
  }
}

function isInViewport (el) {
  var rect = el.getBoundingClientRect(),
    windowHeight = (window.innerHeight || document.documentElement.clientHeight);

    return (rect.top > 0 && rect.top <= windowHeight);
}

function highlightVisibleYears() {
  var visibleFrom = new Date();
  var visibleTo = new Date("1980-01-01");
  var cards = document.getElementsByClassName("experience-card");

  for(var i = 0; i < cards.length; i++)
  {
    if(isInViewport(cards[i]))
    {
      var cardFrom = cards[i].getAttribute("data-start-date");
      var cardTo = cards[i].getAttribute("data-end-date");

      if(cardFrom)
      {
        var cardFromDate = new Date(cardFrom);
        if(cardFromDate < visibleFrom)
        {
          visibleFrom = cardFromDate;
        }
      }
      var cardToDate = new Date();
      if(cardTo)
      {
        cardToDate = new Date(cardTo);        
      }
      if(cardToDate > visibleTo)
      {
        visibleTo = cardToDate;
      }
    }
  }
  var yearFrom = visibleFrom.getFullYear();
  var yearTo = visibleTo.getFullYear();
  var years_indicator = document.getElementById("years-indicator");
  var years = years_indicator.getElementsByClassName("year");
  for(var i=0; i < years.length; i++)
  {
    var yearId = parseInt(years[i].id.substring("year-".length));
    if(yearId >= yearFrom && yearId <= yearTo)
    {
      years[i].classList.add("active");
    }
    else
    {
      years[i].classList.remove("active");
    }
  }
  bringActiveYearIntoView();
}

//makes sure that years marked as "active" in the indicator are visible
function bringActiveYearIntoView() {
  var years_indicator = document.getElementById("years-indicator"),
      top_marg = 110,
      years = years_indicator.getElementsByClassName("year"),
      highestVisibleYearDiv  = null,
      lowestVisibleYearDiv = null;

      for(i=years.length-1; i>=0; i--){ 
        if(years[i].classList.contains("active")) { 
          if(!lowestVisibleYearDiv)
            lowestVisibleYearDiv = years[i];
          if(i == 0 || !years[i-1].classList.contains("active"))
          {
            highestVisibleYearDiv = years[i];
            break
          }
        } 
      }
  
    if(lowestVisibleYearDiv)
    {
      var highest_rect = highestVisibleYearDiv.getBoundingClientRect();
      var lowest_rect = lowestVisibleYearDiv.getBoundingClientRect();
      var highest_point = highest_rect.top;
      var lowestPoint = lowest_rect.top + lowest_rect.height;
      var windowHeight = (window.innerHeight || document.documentElement.clientHeight);

      if(lowestPoint > windowHeight)
      {
        var gap = (lowestPoint - windowHeight) + 50;
	      top_marg -= gap;
        years_indicator.style.top = (parseInt(years_indicator.style.top.replace("px","")) - gap) + "px";
      }
      else if (highest_point < 110)
      {
        years_indicator.style.top = "110px"
      }
    }
}

//sets the href/hash property of each indicator's year, to the proper card
function assignIndicatorLinksToYearCards() {
  var cards = document.getElementsByClassName("experience-card");
  for(var c=0; c < cards.length; c++)
  {
      var cardFrom = cards[c].getAttribute("data-start-date");
      var cardTo = cards[c].getAttribute("data-end-date");
      var cardFromYear = new Date(cardFrom).getFullYear();
      var cardToYear = (cardTo)? new Date(cardTo).getFullYear() : new Date().getFullYear();

      for (var y=cardFromYear; y <= cardToYear; y++)
      {
        var yearDiv = document.getElementById("year-" + y);
        if(yearDiv)
        {
          var as = yearDiv.getElementsByTagName("a");
          if(as && as.length > 0)
          {
            as[0].setAttribute("href", "#" + cards[c].id);
          }
        }
      }
  }
}


function getElementActualHeight(el) //with margins
{
	return el.offsetHeight + 
    parseInt(window.getComputedStyle(el).getPropertyValue('margin-top')) +
    parseInt(window.getComputedStyle(el).getPropertyValue('margin-bottom'));
}


//Make sure the cards wrapper has the height to contain them all in 1 column (narrow), or 2 columns (wide)
function adjustCardWrapperHeight() {
  var experience_card_wrapper = document.getElementById("timeline-cards-wrapper");
  if(window.innerWidth < 1075) //wide enough for 2 columns
  {
    var h = Array.from(document.querySelectorAll('.experience-card')).map(el => getElementActualHeight(el)).reduce((a, b) => a + b, 0);
  }
  else {
    var cards = document.getElementsByClassName("experience-card");
    if(cards.length % 2 == 0)
    {
      var split = cards.length /2;
    }
    else
    {
      var split = ((cards.length -1) /2) + 1;
    }
    var col1 = Array.from(document.querySelectorAll('.experience-card')).slice(0, split).map(el => getElementActualHeight(el)).reduce((a, b) => a + b, 0);
    var col2 = Array.from(document.querySelectorAll('.experience-card')).slice(split).map(el => getElementActualHeight(el)).reduce((a, b) => a + b, 0);
    var h = Math.max(col1, col2);
  }
  experience_card_wrapper.style.height = h + "px";
}

window.addEventListener('load', function(event) {
  calculateOverflowingBulletsInContainers();
  adjustCardWrapperHeight();

  attachBoxClicksToModals();
  highlightVisibleYears();
  assignIndicatorLinksToYearCards();

}); //onload

window.addEventListener('resize', function(event) {
  calculateOverflowingBulletsInContainers();
  adjustCardWrapperHeight();
  highlightVisibleYears();
  
}, true); //onresize

window.addEventListener('scroll', function(event) {
  highlightVisibleYears();
  
}, true); //onscroll


</script>