---
title: Home
layout: page
pagination: 
    enabled: true
---
<div class="container" style="margin-top: 90px;">
    <p>{% include blog/breadcrumb.html %}</p>
    <div class="row">
        <h1 style="text-align: center; margin: 30px 0px;"><span style="color: #3498db">Alon in the World:</span> The blog</h1>
    </div>
    <div style="display: flex;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: flex-end;
    align-items: center;">
    <div>
        <form id="search-form" action="#" style="display:inline">
            {% include blog/search-box.html placeholder_text = "Search posts..." %}
        </form>
    </div>
    </div>
    <p>
        <!-- HTML elements for search -->
    

    </p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-3">
        {% assign visible_posts = paginator.posts %}
        {% for post in visible_posts %}
            {% assign datestr = post.date | date: "%d %B %Y" %}
            {% include blog/postbox.html post=post datestr=datestr %}
        {% endfor %}
    </div>
    {% include blog/paginator.html %}
</div>

<script>

    function perform_search()
    {
        window.location.href = "/blog/search?what=" + encodeURIComponent(document.getElementById("search-input").value);
    }
    window.addEventListener('load', function(event) {
        
        document.getElementById("search-glass").onclick = function(e) {
            perform_search();
        }

        document.getElementById("search-form").onsubmit = function(e) {
            e.preventDefault(); // Otherwise the form will be submitted
            perform_search();
        }

    }); //onload
</script>