<div class="col skill-box">
    <div class="card h-100 text-center bg-dark text-white">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-center">{{ include.skill.title }}</h5>
        <div class="text-center"><img src="/assets/img/skills/{{ include.skill.thumbnail }}" class="card-img-top"></div>
        <p class="card-text">{{ include.skill.description }}</p>
        <a href="{{ include.skill.link }}" class="btn {{ include.skill.btn_class }} mt-auto">{{ include.skill.link_text }}</a>
      </div>
    </div>
  </div>