---
layout: page
disqus: true
comments: true
---
{% assign page.title = "abcde" %}

<!-- https://customer.io/blog/easy-date-formatting-with-liquid/ -->
{% assign datestr = page.date | date: "%d %B %Y" %}

<div class="container blogpost">
    <div class="row">
        <div class="col">
            <h1>{{ page.title }}</h1>
            <p style="font-weight: 900;">{{ page.subtitle }}</p>
            <div class="post-date"><a href="{{ page.url }}">{{ datestr }}</a></div>

            {% if page.image %}
                <img class="post-image" src="{{ page.image }}" style="float: right; width: 35%;" />
            {% endif %}
                
            
            <div>{{ content }}</div>
            
            <div class="tags-section">
                <i class="fa-solid fa-tags"></i> 
                {% for tag in page.tags %}
                    <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
                {% endfor %}
            </div>
            <!-- disqus-->
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://alon-in-the-world.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>            
            <!--/disqus-->
        </div>
    </div>
</div>